  <div ng-controller="mainCtrl">
    <div ng-click="test()">test</div>
    <div ng-repeat="img in imgs">
      <div class="row"><img ng-src="{{img.images.low_resolution.url}}" color-thief color-thief-dominant="img.dominant" crossorigin="anonymous" height="100" width="100"></div>
      <div class="row colorBox" ng-style="{'background-color': 'rgb('+img.dominant[0]+', '+img.dominant[1]+', '+img.dominant[2]+')'}"></div>
    </div>
  </div>

.controller('mainCtrl', function($scope, mainServ){
  $scope.imgs = [];
  $scope.myImage = 'https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11376315_102272003448897_700391691_n.jpg';
  $scope.test = function () {
    mainServ.getRecent().then(function(res){
      $scope.imgs = res;
    });
  };
})

.service('mainServ', function($q, $http){
  this.getRecent = function(){
    var def = $q.defer();
    var endPoint = 'https://api.instagram.com/v1/tags/' + 
                   'love' + 
                   '/media/recent?client_id=986eb7577449427da9961ae44427cf57' + 
                   '&callback=JSON_CALLBACK' +
                   '&count=100';
    $http({
      method: 'JSONP',
      url: endPoint
    })
    .then(function(res){
      var parsed = res.data.data;
      def.resolve(parsed);
    });
    return def.promise;
  }
});